/* ========================================================================= */
/* TABLE OF CONTENTS * /
/* 
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. MEDIA QUERY
* /

/* ========================================================================= */
/* 1. GLOBAL */

body, html {
  margin: 0;
  padding: 0;
  width: 100%;


}


/* ========================================================================= */
/* 2. TYPOGRAPHY */




/* ========================================================================= */
/* 3. LAYOUT */




/* ========================================================================= */
/* 4. MEDIA QUERY */